<html>
  <head>
    <title>about</title>
  </head>
  <body>
     <link type="text/css" rel="stylesheet" href="pages.css.scss" />
   <div class="header">
   <div class="container">
  <ul class="nav">
    <li><a href="welcome">Welcome</a></li>
    <li><a href="about">About</a></li>
    <li><a href="portfolio">Portfolio</a></li>
    <li><a href="contact">Contact</a></li>
    </ul>
    
   </div></div>
    <div class="about">
      <p>Hello my name is <b>Thulasi</b></p>
    </div>
  </body>
  </html>