<html>
  <head>
    <title>contact</title>
  </head>
  <body>
     <link type="text/css" rel="stylesheet" href="pages.css.scss" />
    <div class="header">
   <div class="container">
  <ul class="nav">
     <li><a href="welcome">Welcome</a></li>
    <li><a href="about">About</a></li>
    <li><a href="portfolio">Portfolio</a></li>
    <li><a href="contact">Contact</a></li>
    </ul>
    
   </div></div>
    <div class="contact">
      <a href="www.twitter.com"><img src="http://www.fluentu.com/blog/english/wp-content/uploads/sites/4/2015/04/practice-english-online.png",height="50px" width="50px"/></a>
      <a href="www.facebook.com"><img src="http://cdn2.business2community.com/wp-content/uploads/2013/09/facebook-icon.jpg" height="50px" width="50px"/></a>
      <a href="www.linkedin.com"><img src="http://www.thedrillingpeople.com/wp-content/uploads/2013/06/linkedin.jpg" height="50px" width="50px"/></a>
      <a href="www.heroku.com"><img src="https://pbs.twimg.com/profile_images/464169564171821056/43sHKeth.png" height="50px" width="50px"></a>
    </div>
  </body>
</html>