<html>
  <head>
    <title>about</title>
  </head>
  <body>
     <link type="text/css" rel="stylesheet" href="pages.css.scss" />
    <div class="header">
   <div class="container">
  <ul class="nav">
    <li><a href="welcome">Welcome</a></li>
    <li><a href="about">About</a></li>
    <li><a href="portfolio">Portfolio</a></li>
    <li><a href="contact">Contact</a></li>
    </ul>
    
   </div></div>
    <div class="portfolio">
     <p>Breather’s Reservation Site</p>
<p>Pursue these aspirations free-speech healthcare sharing economy freedom. Beneficiaries gender rights raise awareness change movements provide. Eradicate, diversification inspire breakthroughs, incubation; solve Peace Corps. Innovate.</p>

    </div>
  </body>
</html>