mg src=<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
  </head>
  <body   >
    <link type="text/css" rel="stylesheet" href="pages.css.scss" />
 <div class="header">
   <div class="container">
  <div class="nav">
     <ul><li><a href="welcome">Welcome</a></li>
    <li><a href="about">About</a></li>
    <li><a href="portfolio">Portfolio</a></li>
    <li><a href="contact">Contact</a></li>
    </ul>
     </div>
   </div></div>
  <div class="main">
    <p>Hello I am Thulasi</p>
    <p>Here I have create my own App</p>
    <form action="#" method="get">
      <button type="submit" value="submit">View my Work</button>
    </form>
    </div>
      <div class="footer">
       
        <a href="http://www.facebook.com"><img src="http://images.techhive.com/images/article/2013/04/facebook_home_logo_580-100034106-large.jpg" height="100px" width="100px"/></a>
       <a href="http://www.Twitter.com"><img src="http://www.fluentu.com/blog/english/wp-content/uploads/sites/4/2015/04/practice-english-online.png" height="100px" width="100px"/></a>
     <a href="www.linkedin.com"><img src="http://www.thedrillingpeople.com/wp-content/uploads/2013/06/linkedin.jpg" height="50px" width="50px"/></a>
      <a href="www.heroku.com"><img src="https://pbs.twimg.com/profile_images/464169564171821056/43sHKeth.png" height="50px" width="50px"></a>
    </div>
    </body>
    </html>